<%= form_with(model: mircopost, local: true) do |form| %>
  <% if mircopost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mircopost.errors.count, "error") %> prohibited this mircopost from being saved:</h2>

      <ul>
      <% mircopost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :mircopost_content %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :mircopost_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
